@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 24%);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.px-72 {
  padding-left: 72px;
  padding-right: 72px;
}

.pl-24 {
  padding-left: 24px;
}

.pl-16 {
  padding-left: 16px;
}

.pr-24 {
  padding-right: 24px;
}

.pb-16 {
  padding-bottom: 16px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.bg-gray {
  background-color: hsl(0, 0%, 87%);
}

.container {
  max-width: 1125px;
  margin-inline: auto;
}

.nav__container {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  height: 32px;
  display: flex;
  align-items: center;
}

.nav__title {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: hsl(0, 0%, 24%);
}

.nav__title span {
  color: hsl(0, 0%, 67%);
  font-weight: 400;
}

.nav__list {
  display: flex;
  column-gap: 16px;
  font-size: 1.1rem;
}

.nav__link {
  color: hsl(0, 0%, 24%);
  transition: all .2s;
}

.nav__link:hover {
    color: hsl(0, 0%, 5%);
}

.hero__container {
  display: flex;
  column-gap: 24px;
  background-color: hsl(0, 0%, 87%);
}

.hero__left__container {
  width: 60%;
}

.hero__right__container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
}

.hero__right-title {
  font-size: 2.5rem;
}

.hero__right-description {
  font-size: 1.1rem;
  font-weight: 500;
}

.hero__right-btn {
  padding-top: 8px;
  padding-bottom: 8px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 24%);
  text-align: center;
  max-width: 330px;
  transition: all 0.3s;
}

.hero__right-btn:hover {
  background-color: hsl(0, 0%, 31%);
}

.information__container {
  display: flex;
  column-gap: 24px;
}

.info__left__container {
  width: 60%;
}

.info__left-title {
  padding-top: 32px;
  padding-bottom: 24px;
  font-size: 2rem;
}

.info__left-description {
  font-weight: 300;
  font-size: 1.03rem;
  color: hsl(0, 0%, 51%);
}

.info__left-des-ref {
  margin-top: 1.5rem;
  font-size: 0.85rem;
}

.info__right__container {
  width: 40%;
  display: flex;
  flex-direction: column;
  border-left: 2px solid hsl(0, 0%, 89%);
}

.info__right-article {
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

.info__right-article:hover {
  background-color: hsl(0, 0%, 87%);
}

.info__right-img {
  width: 35%;
}

.info__right-content {
  width: 65%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.info__right-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.info__right-description {
  font-weight: 300;
  font-size: 0.9rem;
}

.info__right-btn {
  color: #0088ff;
  letter-spacing: 0.8px;
}

.course__container {
  background-color: hsl(0, 0%, 89%);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
}

.course__title {
  font-size: 2rem;
}

.course__card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.course__card {
  max-width: 305px;
}

.course__card-content {
  background-color: #ffffff;
  padding: 16px 16px 24px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  min-height: 166px;
}

.course__card-title {
  color: hsl(0, 0%, 24%);
  font-size: 1.4rem;
  font-weight: 500;
}

.course__card-tag {
  text-transform: uppercase;
  color: hsl(0, 0%, 51%);
  font-weight: 300;
}

.course__card-description {
  font-weight: 300;
  color: hsl(0, 0%, 51%);
  font-size: 0.95rem;
  line-height: 1.3rem;
}

.thesis__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
}

.thesis__title {
    font-size: 2rem;
}

.thesis__content__container {
  display: flex;
  column-gap: 24px;
}

.thesis__left__container {
  width: 60%;
}

.thesis__left-article {
  display: flex;
  flex-direction: column;
}

.thesis__left-title {
  font-size: 1.4rem;
  font-weight: 500;
  padding-top: 24px;
  padding-bottom: 8px;
}

.thesis__left-description {
  font-weight: 300;
  line-height: 1.4rem;
  color: hsl(0, 0%, 51%);
}

.thesis__right__container {
  width: 40%;
}

.thesis__right-article {
  display: flex;
  transition: all 0.3s;
  align-items: center;
}

.thesis__right-article:hover {
  background-color: hsl(0, 0%, 87%);
}

.thesis__right-img {
  width: 35%;
}

.thesis__right-content {
  width: 65%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.thesis__right-title {
  color: hsl(0, 0%, 24%);
  font-size: 1.4rem;
  font-weight: 500;
}

.thesis__right-description {
  font-weight: 300;
  color: hsl(0, 0%, 51%);
  font-size: 0.95rem;
  line-height: 1.3rem;
}

.footer {
    border-top: 2px solid hsl(0, 0%, 96%);
    height: 5rem;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: .8rem;
    color: hsl(0, 0%, 51%);
}

.footer__terms-policy {
    display: flex;
    column-gap: 1.5rem;
}

.footer__terms-policy a {
    color: hsl(0, 0%, 51%);
    transition: all .3s;
}

.footer__terms-policy a:hover {
    color: hsl(0, 0%, 20%);
}
